* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 170px 0px 170px;
    /*  trbl */

}

.navbar-p1,
.navbar-p2,
.navbar-p3,
.navbar-icon {
    display: flex;
    align-items: center;

}

.logo {
    width: 50px;
    border-radius: 50px;
}

.navbar-p2,
.navbar-p3,
.navbar-link {
    gap: 27px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
}

.navbar-p2 #navbar__trip:hover {
    text-decoration: underline gray 5px;
    color: gray;
    cursor: pointer;
}

.navbar__list {
    padding: 10px;
    border-radius: 50px;

}

.navbar__list:hover {
    cursor: pointer;
    background-color: #d7d7d7;
}

.navbar-p3 {
    position: relative;
}

.navbar-p3__global {
    width: 30px;
}

.navbar-icon {
    padding: 10px;
    border-radius: 50px;

}

.navbar-icon:hover {
    cursor: pointer;
    background-color: #d7d7d7;
}

.navbar-link {
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.where {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0 0 0;
}

.list-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    font-size: 18px;
}

#container-list__id {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 2px rgb(31, 31, 31) solid;
    cursor: pointer;
    padding-bottom: 5px;
}

.container-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container-list:hover {
    border-bottom: 2px rgb(31, 31, 31) solid;
    color: gray;
    cursor: pointer;
    padding-bottom: 5px;
}


.search-div {
    width: 60%;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.searchbar {
    background-color: #d7d7d7;
    padding: 10px;
    border-radius: 50px;
}

.search {
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
}

#search-box {
    width: 100%;
    border: none;
}

#search-box:focus {
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.search-center {
    display: flex;
    justify-content: center;

}


.sale-image {
    display: flex;
    justify-content: center;
}

.sale-image img {
    width: 80%;
    margin: 90px;
    border-radius: 20px;
    box-shadow: rgb(190, 190, 190);
}

.text-container__heading {
    font-size: 25px;
    font-weight: 600;
}

.text-container {
    margin-left: 150px;

}

.container__cards {
    display: flex;
    margin: 70px;
    justify-content: center;
    gap: 5px;
}

.card img {
    border-radius: 10px;
}

.card img:hover {
    opacity: 0.8;
}

.card {
    position: relative;
}

.arrwor {
    position: absolute;
}

.card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.card-others {
    font-size: 17px;
    font-weight: 600;

}

.arrwor img {
    width: 30px;
    position: absolute;
    rotate: 90deg;
}

.ads {
    position: relative;
    display: flex;
    width: 100%;
    height: 150px;
    bottom: 50px;
    justify-content: center;
}

.ad {
    display: flex;
    width: 80%;
    height: 180px;
    align-items: center;
    gap: 20px;
    background-color: #FAF1ED;
}

.rotate img {
    rotate: 355deg;
    margin: 10px 0 10px 20px;
    border-radius: 10px;
}

.btn {
    position: absolute;
    bottom: 20px;
    right: 200px;
    width: 100px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 15px;
    background-color: white;

}

.btn:hover {
    cursor: pointer;
    color: white;
    transition: 600ms;
    background-color: #000000;
}

.dot i {
    padding: 3px;
}

.three-card {
    display: flex;
    position: relative;
    gap: 30px;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-color: #FAF1ED;
}

.three-card img {
    border-radius: 10px;

}

.three-card__img {
    justify-content: center;
    align-items: center;
}

.video video {
    width: 100%;

}

.video-subheading {
    margin: 30px 130px 30px 130px;
}

.footer {
    background: #faf1ed;
    padding: 30px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top__menu {
    display: flex;
    width: 60%;
}

.footer-top__menu-list {
    flex-basis: 18%;
    flex-grow: 1;
}

.footer-top__menu-list p a {
    color: #232322;
    font-size: 14px;
}

.footer-top__menu-list .footer-top__menu-list-heading a {
    font-size: 18px;
}

.footer-top__site-info {
    color: #232322;
    font-size: 14px;
    width: 30%;
}

.footer-bottom {
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
}

.footer-bottom .logo {
    margin-right: 10px;
}

.footer-bottom .logo img {
    width: 40px;
    height: 40px;
    background: #00aa6c;
    border-radius: 100%;
}

.copyright {
    padding-bottom: 10px;
    color: #232322;
    font-size: 12px;
}

.terms-condition {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    line-height: 5px;
    width: 65%;
}

.terms-condition p a {
    color: #232322;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
}

.dropdown-section {
    width: 35%;
    display: flex;
    gap: 20px;
    justify-content: end;
}

.dropdown-section select {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #dbc9fe;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    background: #FFF;
}

.footer-info {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

.footer-info .text {
    font-size: 12px;
    width: 75%;
}

.social-icons {
    display: flex;
    gap: 15px;
    width: 25%;
    justify-content: end;
}

/*======================MOBILE RESPONSIVE================*/
@media screen and (max-width: 1121px) {
    .navbar__menu {
        display: none;
    }

    .currency {
        display: none;
    }

    .search-container {
        width: 100%;
    }

    .carousel-section__inner {
        overflow: hidden;
    }

    .carousel-section__items .img {
        width: auto;
    }

    .carousel-section__items .overlay {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .hero-section__menu {
        justify-content: space-between;
    }

    .build-trip img {
        display: none;
    }

    .build-trip {
        width: 100%;
        height: 500px;
    }

    .build-trip__info {
        width: 70%;
    }

    .carousel-section__inner {
        overflow: hidden;
    }

    .carousel-section__items .img {
        width: auto;
    }

    .carousel-section__items .overlay {
        width: 100%;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-top__menu {
        width: 100%;
    }

    .footer-top__site-info {
        width: 100%;
        padding: 10px 0;
    }

    .footer-bottom {
        flex-direction: column;
    }

    .terms-condition {
        width: 100%;
    }

    .dropdown-section {
        width: 100%;
        justify-content: flex-start;
        padding-top: 25px;
    }
}

@media screen and (max-width: 500px) {
    .hero-section__menu {
        justify-content: space-between;
    }

    .build-trip {
        height: 400px
    }

    .hero-section__menu-list {
        font-weight: 600;
        font-size: 12px;
    }

    .build-trip__info h2 {
        font-size: 30px;
        line-height: normal;
    }

    .build-trip__info__text {
        font-size: 16px;
    }

    .build-trip__info__button {
        font-size: 12px;
    }

    .best-choice-container {
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        padding: 20px;
    }

    .left {
        width: 100%;
    }

    .left h2 {
        font-size: 30px;
        line-height: normal;
    }

    .right {
        width: 100%;
    }

    .footer-info {
        flex-direction: column;
        row-gap: 30px;
    }

    .footer-info .text {
        width: 100%;
    }

    .social-icons {
        width: 100%;
        justify-content: flex-start;
    }
}